<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <link rel="stylesheet/less" type="text/css" href="/static/styles.less" />
    <script src="//cdn.jsdelivr.net/npm/less@3.13"></script>
    <script src="/static/js/main.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/d47c0d1ff1.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <div id="darklight" class="darklight" onclick="dark_mode_toggle()"><i class="fas fa-moon"></i></div>
    <form role='form' class="login-box" method="post" action="/login">
      <h2>Login</h2>
      <div class="input">
        <div class="inputbox">
          <label>Username</label>
          <input type="text" name="email" placeholder="example@xyz.com">
        </div>
        <div class="inputbox">
          <label>Password</label>
          <input type="password" name="password" placeholder="Enter Password">
        </div>
        <div class="inputbox">
          <div id="sub_button" class='submit'> Sign In </div>
        </div>
      </div>
      <p class='forget'>Forgot Password? <a href="">Click Here!</a> </p>
      <p class='forget'>New User? <a href="/register">Click Here!</a> </p>
    </form>
    <div class="notifications" style="display:none">Wrong Username Or Password Please Retry</div>
    {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                    <script type="text/javascript">
                        console.log("SOmrhin")
                        $('.notifications').css("color", "#00d002")
                        $('.notifications').html("{{ message }}")
                        $('.notifications').show().delay(5000).fadeOut();
                        $('.notifications').css("color", "#dd0000")
                    </script>
               {% endfor %}
         {% endif %}
    {% endwith %}
    <script type="text/javascript">
      var dark = true
      init_dark()
    </script>

    <script type="text/javascript">
      $("#sub_button").click(function() {
        console.log('AJX POSTING')
        $.ajax({
          type: 'POST',
          url: "/login",
          data: $('form').serialize(),
          success: function(result) {
            var value = result['data']
            if ( value == 'true' ) {
              $('.notifications').html("Wrong Username Or Password Please Retry")
              $('.notifications').show().delay(5000).fadeOut();
            } else if(value == 'redirect') {
              window.location.href = '/home'
            }
          }
        })
      })
    </script>

    <script>
      (function(w, d, s, id) {
        if (typeof(w.webpushr) !== 'undefined') return;
        w.webpushr = w.webpushr || function() {
          (w.webpushr.q = w.webpushr.q || []).push(arguments)
        };
        var js, fjs = d.getElementsByTagName(s)[0];
        js = d.createElement(s);
        js.id = id;
        js.async = 1;
        js.src = "https://cdn.webpushr.com/app.min.js";
        fjs.parentNode.appendChild(js);
      }(window, document, 'script', 'webpushr-jssdk'));
      webpushr('setup', {
        'key': 'BGwztFUP4s7C7yGRighkwNADa9TTFJM9EU62-VI1tIshl_dWiQoAgwbHUE6cazlW-1GoEd3YoWNXu1wrFxfRajM'
      });
    </script><!-- end webpushr code -->
  </body>

</html>
