<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <link rel="stylesheet/less" type="text/css" href="/static/styles.less" />
    <script src="//cdn.jsdelivr.net/npm/less@3.13"></script>
    <script src="/static/js/main.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="darklight" class="darklight" onclick="dark_mode_toggle()"></div>
    <script type="text/javascript">
      init_dark()
    </script>
    <form class="login-box" method="post" action="/login">
      <h2>Register</h2>
      <div class="input">
        <div class="inputbox">
          <label>Name</label>
          <input type="text" name="username" placeholder="Enter Name">
        </div>
        <div class="inputbox">
          <label>Email</label>
          <input type="email" name="email" placeholder="example@xyz.com">
        </div>
        <div class="inputbox">
          <label>Password</label>
          <input type="password" name="password" placeholder="Enter Password">
        </div>
        <div class="inputbox">
          <label>Repeat Password</label>
          <input type="password" name="repassword" placeholder="Enter Password Again">
        </div>
        <div class="inputbox">
          <div id="sub_button" class='submit'> Sign In </div>
        </div>
      </div>
      <p class='forget'>Already Registered? <a href="/login">Click Here!</a> </p>
    </form>
    <div class="notifications" style="display:none">Wrong Username Or Password Please Retry</div>
    <script type="text/javascript">
      $("#sub_button").click(function() {
        console.log('AJX POSTING')
        $.ajax({
          type: 'POST',
          url: "/register",
          data: $('form').serialize(),
          success: function(result) {
            var value = result['message']
            if (value == 'redirect') {
              window.location.href = "/login"
            }
            console.log(value)
            $('.notifications').html(value)
            $('.notifications').show().delay(5000).fadeOut()
          }
        })
      })
    </script>
  </body>

</html>
